<div class="side">
  <div class="title">
    <i class="fa-solid fa-shop"></i>
    <h1>LION</h1>
  </div>
  <div class="func">
    <ul>
      <li><a href=""><i class="fa-solid fa-house-chimney"></i>Dashboard</a></li>
      <li><a href=""><i class="fa-solid fa-list-check"></i>Produto</a></li>
      <li><a href=""><i class="fa-regular fa-user"></i>Cliente</a></li>
      <li><a href=""><i class="fa-solid fa-cart-shopping"></i>Compra</a></li>
      <li><a href=""><i class="fa-solid fa-handshake"></i>Venda</a></li>
      <li><a href=""><i class="fa-solid fa-user"></i>Usuario</a></li>
      <li><a href=""><i class="fa-solid fa-bookmark"></i>Reportar</a></li>
      <li><a href=""><i class="fa-solid fa-gear"></i>Configurações</a></li>
    </ul>
  </div>
</div>
